body {
  width: 390px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid rgb(189, 182, 182);
}

.row {
  font-size: 14px;
}

.title {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
#bookmarks {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: auto; */
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

.bookmark {
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  margin: 5px 0;
}

.bookmark img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.bookmark input {
  border-radius: 10px;
  padding-left: 4px;
  height: 30px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
